<h1>ðŸ‘€ Reviews for <%= @restaurant.name %></h1>

<ul>
  <% @reviews.each do |review| %>
    <li><%= "â­ï¸" * review.rating %><%= review.content %></li>
  <% end %>
</ul>

<p><%= link_to "âŽ Back to restaurant page", restaurant_path(@restaurant) %></p>
